@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1536px) {
  
}
@media screen and (max-width: 1366px) {
    .banner__linck--map {
        right: 5%;
    }
    .banner__item--img img {
        height: 500px;
    }
}
@media screen and (max-width: 1300px) {
    .header__menu ul.menu li {
        margin: 0 10px;
    }
    .header__lang {
        margin-left: 20px;
    }
    .section__about {
        padding-top: 50px;
        padding-bottom: 100px !important;
        margin-bottom: -100px;
    }
    .section__about:before {
        height: 100px;
    }
    .gid__item--img {
        margin-right: 15px;
    }
    .gid__item--top {
        margin-bottom: 10px;
    }
    .gid__item--bottom {
        margin-top: 10px;
        padding-top: 10px;
    }
    .gid__bottom--item {
        margin-bottom: 5px;
    }
    footer {
        padding: 30px 0 55px 0;
    }
    .calendar__bottom {
        margin-top: 20px;
    }


    .gid__page--item {
        width: 260px;
        height: 260px;
    }
}
@media screen and (max-width: 1200px) {
    .children__block {
        /* display: none; */
        padding-left: 10px !important;
    }
        
    ul.clildren-menu {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    ul.clildren-menu img {
        width: 50px;
        background: #fff;
        padding: 5px;
        /* background: url(../img/childrenmenu1.svg); */
        background-size: contain;
        border-radius: 100%;
        margin-right: 5px;
    }

    ul.clildren-menu li {margin-bottom: 10px !important;}

    ul.clildren-menu a {
        display: block;
    }
    .header__burger{
        display: block;
    }
    .burger__menu {
        width: 35px;
        height: 35px;
        margin-left: 20px;
        position: relative;
        padding: 6px 3px;
        justify-content: center;
    }
    .burger__menu span {
        position: absolute;
        top: 50%;
        height: 2px;
        width: 20px;
        background: #fff;
        border-radius: 100px;
        right: 8px;
        transition: all 0.5s ease;
    }
    .burger__menu span:nth-child(1) {
        transform: translateY(-6px);
    }
    .burger__menu span:nth-child(3) {
        transform: translateY(6px);
    }
    .menu--active .burger__menu  span:nth-child(2) {
        opacity: 0;
    }
    .menu--active .burger__menu span:nth-child(1) {
        transform: rotate(45deg);
        width: 18px;
    }
    .menu--active .burger__menu  span:nth-child(3) {
        transform: rotate(-45deg);
        width: 18px;
    }
    header .header__menu ul.menu {
        flex-direction: column;
    }

    header .header__menu ul.menu > li {
        margin-bottom: 15px;
    }

    header .header__menu ul.menu > li > a {
        font-size: 16px;
    }

    .menu--active .header__menu {
        transform: translateX(0);
    }

    header {
        padding-bottom: 30px;
    }

    header:before {
        height: 30px;
        background-size: contain;
    }

    body {
        padding-top: 105px;
    }
    .banner__item--info {
        max-width: 650px;
    }

    .banner__item--title {
        font-size: 55px;
    }

    .banner__item--desc {
        font-size: 25px;
    }

    .about__line--text {
        font-size: 13px;
    }

    .about__line--title {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .gid__page--item {
        width: 200px;
        height: 200px;
    }

    .route__item--btn:before {
        display: none;
    }

    .route__item--btn a {
        padding: 25px 10px;
        width: 230px;
        font-size: 16px;
    }
}
@media screen and (max-width: 1024px) {
    .banner__item--img img {
        height: 400px;
    }
    
    .banner__slider--pag {
        bottom: 50px;
    }
    
    .section__map {
        padding-bottom: 100px;
    }
    
    footer .header__menu ul.menu {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    
    footer .header__menu ul.menu li {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    footer:before {
        height: 25px;
        background-size: contain;
    }
    
    footer {
        padding-bottom: 35px;
    }
    
    .gid__item--img {
        width: 100px;
        min-width: 100px;
        height: 100px;
    }
    
    .gid__item--title a {
        font-size: 20px;
        line-height: 1.2;
    }
    
    .gid__item--toptext {
        font-size: 14px;
    }
    
    .gid__item--lang {
        font-size: 13px;
    }

    .about__page--line .about__line--item .about__line--absol .about__line--info {
        opacity: 0.5;
        visibility: visible;
        transform: translateX(0) !important;
    }

    .sights__item--title a {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
        display: block;
    }
    
    .sights__item--img {
        height: 250px;
    }
    
    .sights__item {
        height: 470px;
    }

    .gid__page--item {
        width: 200px;
        height: 200px;
    }
    
    .gid__title--list {
        margin-left: 40px;
    }
    
    .gid__title--list .gid__bottom--item {
        margin-right: 15px;
    }
    
    .gid__title--block {
        align-items: center;
    }
    .header__menu--li ul.menu a {
        font-size: 14px;
    }
    
    .header__menu--row {
        height: 110px;
    }
    
    .header__menu--container {
        background-size: 40%;
    }
}
@media screen and (max-width: 992px) {
    .banner__linck--map {
        display: none;
    }
    .section__map--main img {
        max-width: 100%;
        height: 500px;
    }
    .row.swiper-wrapper {
        flex-wrap: nowrap;
        margin-right: 0px;
        margin-left: 0px;
    }


    .about__line--item:nth-child(1):before {display: none;}
    .about__line--item:nth-child(3):before {display: none;}
    .about__line--item:nth-child(5):before {display: none;}

    .about__line--absol .about__line--numer {
    margin: 0 auto;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

.about__line--item .about__line--absol {
    transform: none !important;
    flex-direction: column !important;
    position: relative;
}

.about__line--circle {
    display: none;
}

.about__line--numer:before {
    display: none;
}

.about__line--info {
    padding-top: 25px !important;
    padding-bottom: 0 !important;
    border-bottom: 0px !important;
    border-top: 2px solid #c4c4c4 !important;
}

.about__line {
    background-image: none;
}

.about__line {
    padding: 20px 0;
}

/*-------------------*/
    .about__banner--title {
        font-size: 45px;
    }
    .page__description--video iframe {
        height: 300px;
    }
    .block__3d iframe {
        height: 300px;
    }
    .section__page__map--block {
        height: 300px;
    }

    .gid__title--list {
        flex-direction: column;
        align-items: flex-start;
    }



    .interactive__map--fulscrin {
        margin-top: 20px;
    }


    .interactive__map--absol {
        display: none;
    }
    .interactive__map--absol--mobile {
        display: block;
        position: relative;
        top: auto;
        left: 0;
        right: 0;
    }

    .header__menu--container {
        top: 0 !important;
        right: 0;
        left: auto;
        width: 320px;
        background: #fff;
        transform: translateX(120%);
    }

    .header__menu--container .header__menu--li ul.menu {
        flex-direction: column;
    }

    .header__menu--row {
        height: 100vh;
        align-items: flex-start;
        padding-top: 80px;
        padding-left: 20px;
    }

    .header__menu--container .header__menu--li ul.menu li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .header__menu--close.header__menu--click {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .header__menu--container .burger--right {
        margin-left: 0;
    }

    .header__menu--li ul.menu a {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    
    .about__line--slider {overflow: hidden;}

    .banner__item--title {
        font-size: 40px;
    }

    .banner__item--desc {
        font-size: 18px;
    }

    .section__map--main img {
        height: auto;
    }

    .section__map--mark:before {
        width: 20px;
        height: 20px;
    }

    .section__map--active .section__map--mark:before {
        width: 25px;
        height: 25px;
    }

    .calendar__slider {
        padding: 0;
        margin: 0;
    }

    .swiper-slide-active .calendar__item {
        transform: none;
    }

    .calendar__item {
        transform: none;
    }

    footer .header__row {
        flex-direction: column;
    }

    footer .header__menu ul.menu {
        justify-content: center;
    }

    /*----------------*/
    .banner__infoprice--item {
        font-size: 14px;
    }

    .route__line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .route__line--item {
        margin-bottom: 20px;
    }

    .gid__title--block {
        flex-direction: column;
        margin-bottom: 20px !important;
    }
    
    .gid__title--list {
        margin-left: 0;
        align-items: center;
        margin-top: 20px;
    }
    
    .gid__about--list {
        flex-direction: column;
        align-items: flex-start;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .route__item--btn:before{
        display: none;
    }

    .section__map--home .interactive__map--controller {
        top: 130px;
        top: 50%;
        transform: translateY(-50%);
    }

    div#inter__map {
        height: 400px;
    }
    .section__about:before {
        height: 100px;
        opacity: 1;
    }

    .figures__page--img {
        display: inline-block;
        margin-bottom: 20px;
    }

    .header__social {
        display: none;
    }

}
@media screen and (max-width: 480px) {
    .header__logo img {
        max-width: 150px;
    }
    
    .banner__item--title {
        font-size: 30px;
    }
    
    .banner__item--img img {
        height: 300px;
    }
    
    .banner__slider--pag {
        bottom: 20px;
    }
    
    .banner__slider--pag span {
        width: 10px;
        height: 10px;
        margin-right: 50px;
    }
    
    .banner__slider--pag span:after {
        width: 10px;
        height: 10px;
    }
    
    .banner__slider--pag span:before {
        width: 30px;
    }
    
    .section__title {
        font-size: 25px;
        line-height: 1.2;
    }
    
    .calendar__bottom .calendar__all {
        justify-content: center;
        margin-top: 30px;
    }
    
    .calendar__all {
        justify-content: center;
    }



    .about__banner--data {
        font-size: 18px;
    }
    
    h1.about__banner--title {
        font-size: 40px;
        line-height: 1;
    }
    
    .banner__info {
        flex-direction: column;
    }
    
    .banner__infoprice {
        flex-direction: column;
    }
    
    .banner__infoprice--item {
        margin-bottom: 10px;
    }
    
    .banner__infoprice--item:last-child {
        margin-bottom: 0;
    }
    
    .mini__desc {
        font-size: 14px;
    }
    
    .page__description--video iframe {
        height: 200px;
    }
    
    .block__3d iframe {
        height: 200px;
    }
    
    .section__page__map--block {
        height: 200px;
    }


    .section__filter .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .filter__item {
        margin-bottom: 10px;
    }
    
    .section__filter {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    li.breadcrumb-item {
        margin-right: 10px;
        padding: 0 !important;
    }
    
    ul.bread-crambs {
        font-size: 12px;
    }
    
    .page__gallery--img {
        height: 250px;
    }
    
    .route__page--list {
        flex-wrap: wrap;
    }
    
    .route__page--list .sights__list--text {
        font-size: 14px;
    }
    
    .about__text {
        font-size: 14px;
    }
    
    .route__page--price {
        font-size: 15px;
    }
    
    .route__line--maps img {
        height: 300px;
    }
    
    .burger--left {
        display: none;
    }
    
    .header__menu--burger {
        margin-left: 0px;
    }
    .route__item--btn a {
        padding: 10px 10px;
        font-size: 14px;
    }
    .route__item--btn {
        margin-top: 10px;
    }

    .gid__about-lang--block {
        font-size: 16px;
    }
    .gid__about-price--block {
        font-size: 20px;
    }

    .header__lang {
        margin-left: 10px;
    }
    
    .header__user {
        margin-left: 10px;
    }
    
    .burger--right {
        margin-left: 0px;
    }
    
    .header__menu {
        margin-left: 10px;
    }
    
    .header__logo img {
        max-width: 110px;
    }
    
}
@media screen and (max-width: 320px) {

}