@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/EuclidFlex-Light.eot');
    src: local('Euclid Flex Light'), local('EuclidFlex-Light'),
        url('../fonts/EuclidFlex-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidFlex-Light.woff2') format('woff2'),
        url('../fonts/EuclidFlex-Light.woff') format('woff'),
        url('../fonts/EuclidFlex-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/EuclidFlex-SemiBold.eot');
    src: local('Euclid Flex SemiBold'), local('EuclidFlex-SemiBold'),
        url('../fonts/EuclidFlex-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidFlex-SemiBold.woff2') format('woff2'),
        url('../fonts/EuclidFlex-SemiBold.woff') format('woff'),
        url('../fonts/EuclidFlex-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/EuclidFlex-Italic.eot');
    src: local('Euclid Flex Italic'), local('EuclidFlex-Italic'),
        url('../fonts/EuclidFlex-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidFlex-Italic.woff2') format('woff2'),
        url('../fonts/EuclidFlex-Italic.woff') format('woff'),
        url('../fonts/EuclidFlex-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Euclid Flex';
    src: url('../fonts/EuclidFlex-Bold.eot');
    src: local('Euclid Flex Bold'), local('EuclidFlex-Bold'),
        url('../fonts/EuclidFlex-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidFlex-Bold.woff2') format('woff2'),
        url('../fonts/EuclidFlex-Bold.woff') format('woff'),
        url('../fonts/EuclidFlex-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



html,
body {
    overflow-x: hidden;
}
body {
    font-size: 16px;
    color: #000;
    font-family: "Euclid Flex";
    padding-top: 130px;
}
body *{
    outline: none;
}
.container {
    max-width: 1280px;
}




header {
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    background-color: #0e4f32;
    padding: 20px 0 50px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}
header:before {content: "";position: absolute;bottom: 0;width: 100%;left: 0;height: 40px;background: url(../img/header__bg.svg);background-repeat: repeat-x;background-position: bottom;}
.header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__menu ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.header__menu ul.menu a {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.children__block {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.children__block--active{
    opacity: 1;
    visibility:visible;
}
.header__menu--block {
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4);
    margin-top: -45px;
    padding: 35px 35px;
}

.children__item {
    background: #0E4F32;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    position: relative;
    overflow: hidden;
}

a.children__item--linck {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    opacity: 0;
}

.children__item--img {
    margin-right: 20px;
    background: url(../img/childrenmenu1.svg);
    padding: 10px;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}
ul.clildren-menu {
    display: none;
}
.children__item--title {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
}

.children__item--img img {
    max-width: 100%;
}

.header__menu ul.menu li {
    margin: 0 15px;
}
.header__lang ul ul.lang__menu--children {
    /* display: none; */
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #fff;
    background-color: #0e4f32;
    padding: 20px;
    border-top: 2px solid #fff;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header__lang > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.header__lang {
    margin-left: 50px;
}
.header__lang > ul > li > a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    padding-right: 30px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header__lang > ul > li > a:before {content: "";position: absolute;width: 20px;height: 20px;background: url(../img/chevron-down.svg);right: 0;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}

ul.lang__menu > li {
    padding: 18px 0;
}

ul.lang__menu > li:hover ul.lang__menu--children {
    opacity: 1;
    visibility: visible;
}

.header__lang ul ul.lang__menu--children a {
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header__lang ul ul.lang__menu--children a:hover {
    color: #B77F04 !important;
}

.header__menu ul.menu a:hover {
    color: #B77F04;
}
.banner__item--img img {
    width: 100%;
    height: 680px;
    -o-object-fit: cover;
       object-fit: cover;
}

.banner__item {
    position: relative;
}

.banner__item--container {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.banner__item--title {
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
}

.banner__item--desc {
    color: #ffffff;
    font-family: "Euclid Flex";
    font-size: 36px;
    line-height: 1.2;
}

.banner__item--info {
    max-width: 900px;
}
.banner__slider--pag {
    position: absolute;
    bottom: 100px;
    z-index: 2;
    width: 100%;
}
.banner__slider {
    position: relative;
}
.banner__slider--pag span {
    width: 19px;
    height: 19px;
    background-color: rgb(255 255 255 / 0%);
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-right: 70px;
    position: relative;
    opacity: 1 !important;
}
.banner__slider--pag span.swiper-pagination-bullet-active {
    opacity: 1;
}
.banner__slider--pag span:before {content: "";width: 50px;height: 1px;background-color: #ffffff;position: absolute;top: 50%;left: 100%;margin-left: 10px;}
.banner__slider--pag span:after {content: "";width: 19px;height: 19px;background-color: rgba(255, 255, 255, 1);position: absolute;border-radius: 100%;opacity: 0.5;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.banner__slider--pag span:last-child {
    margin-right: 0;
}
.banner__slider--pag span:last-child:before {
    display: none;
}
.banner__slider--pag span.swiper-pagination-bullet-active:after {
    opacity: 1;
}


.banner__linck--map {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    right: 15%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.modal__map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

a.modal__map--item {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    margin: 20px 0;
    padding: 15px;
    padding-right: 30px;
    border-radius: 30px 0 0 30px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

a.modal__map--item:before {content: "";width: 78px;height: 77px;-webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);background-color: #ffffff;position: absolute;left: 100%;top: 50%;-webkit-transform: translateX(-20px) translateY(-50%);-ms-transform: translateX(-20px) translateY(-50%);transform: translateX(-20px) translateY(-50%);border-radius: 100%;background-image: url(../img/Vector.svg);background-repeat: no-repeat;background-position: center;background-size: 85%;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
a.modal__map--item:hover:before {
    -webkit-transform: translateX(-20px) translateY(-50%) scale(1.1);
        -ms-transform: translateX(-20px) translateY(-50%) scale(1.1);
            transform: translateX(-20px) translateY(-50%) scale(1.1);
}

/*------------------------------------*/
.section__about {
    padding: 80px 0;
}

.section__title--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    text-decoration: none !important;
    color: #000 !important;
}

.section__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
}

.section__title--arrow {
    margin-left: 10px;
    margin-top: 10px;
}



/*------------------------------------*/
.about__line--title {
    color: #0e4f32;
    font-size: 16px;
    font-weight: 700;
}

.about__line--text {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.about__line--item {
    width: 183px;
    position: relative;
    z-index: 1;
}

.about__line--numer {
    margin: 0 auto;
    width: 104px;
    height: 104px;
    background-color: #b77f04;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    border-radius: 100%;
    position: relative;
    margin-bottom: 190px;
}

span.numer__strong {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
}

span.numer__litl {
    font-size: 14px;
    line-height: 0;
    position: absolute;
    bottom: 30px;
}

.about__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding: 310px 0;
    background-image: url(../img/line__bg.svg);
    background-position: left center;
    background-repeat: repeat-x;
    background-size: 50%;
}
.about__line--absol {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
            transform: translateY(-200px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.about__line--circle {
    width: 17px;
    height: 17px;
    background-color: #b77f04;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.about__line--numer:before {content: "";width: 2px;height: 190px;background-color: #c4c4c4;position: absolute;top: 100%;left: 50%;margin-left: -1px;}

.about__line--info {
    padding-top: 25px;
    border-top: 2px solid #c4c4c4;
}
.about__line--item:nth-child(2n+1) .about__line--absol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transform: translateY(200px);
        -ms-transform: translateY(200px);
            transform: translateY(200px);
    bottom: 0;
    top: auto;
}

.about__line--item:nth-child(2n+1) .about__line--absol .about__line--numer {
    margin-bottom: 0;
    margin-top: 190px;
}

.about__line--item:nth-child(2n+1) .about__line--absol .about__line--numer:before {
    top: auto;
    bottom: 100%;
}

.about__line--item:nth-child(2n+1) .about__line--absol .about__line--info {
    padding-top: 0;
    padding-bottom: 25px;
    border-top: 0px;
    border-bottom: 2px solid #c4c4c4;
}
.about__line--circle:after {content: "";position: absolute;width: 100px;height: 3px;background-color: #0a8232;z-index: -5;top: 50%;margin-top: -2px;display: block;left: 100%;}
.about__line--circle:before {content: "";position: absolute;width: 100px;height: 3px;background-color: #0a8232;z-index: -5;top: 50%;margin-top: -2px;display: block;right: 100%;}
.about__line--item:first-child .about__line--circle:before{
    display: none;
}
.about__line--item:last-child .about__line--circle:after{
    display: none;
}


.about__line--orange .about__line--numer,
.about__line--orange .about__line--circle{
    background-color: #b77f04;
}
.about__line--green1 .about__line--numer,
.about__line--green1 .about__line--circle{
    background: #0E4F32;
}
.about__line--blue .about__line--numer,
.about__line--blue .about__line--circle{
    background: #1160AB;
}
.about__line--red .about__line--numer,
.about__line--red .about__line--circle{
    background: #CC4506;
}
.about__line--green2 .about__line--numer,
.about__line--green2 .about__line--circle{
    background: #0A8232;
}
/*------------------------------------*/

.section__home--bg {
    /* background-image: url(../img/about__bg.jpg); */
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right center;
    /* background: url(../img/about__bg-3.jpg); */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right top;
}

.section__map--block {
    display: table;
    margin: 0 auto;
    position: relative;
}

.section__map--mark {
    width: 26px;
    height: 26px;
    /* background-color: #b77f04; */
    /* border: 5px solid #fff; */
    /* border-radius: 100%; */
    cursor: pointer;
}
.section__map--info {
    position: absolute;
    border: 10px solid #ffffff;
    width: 186px;
    height: 204px;
    border-radius: 30px;
    bottom: 100%;
    overflow: hidden;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-15px);
        -ms-transform: translateX(-50%) translateY(-15px);
            transform: translateX(-50%) translateY(-15px);
    -webkit-filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.79));
            filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.79));
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.section__map--item{
    position: absolute;
}
.section__map--item-1 {
    bottom: 2%;
    right: 19%;
}
.section__map--item-2 {
    bottom: 10%;
    right: 22%;
}
.section__map--item-3 {
    bottom: 8%;
    right: 27%;
}
.section__map--item-4 {
    bottom: 21%;
    right: 29%;
}
.section__map--item-5 {
    bottom: 18%;
    right: 36%;
}
.section__map--item-6 {
    bottom: 25%;
    right: 35%;
}
#inter__map .section__map--item{
    position: relative;
    width: 26px;
    height: 26px;
    z-index: 100;
}

.section__map--img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.section__map--title {
    position: absolute;
    bottom: 10px;
    color: #ffffff;
    font-family: "Euclid Flex";
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    z-index: 1;
}

a.section__map--linck {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    opacity: 0;
    z-index: 1;
}

.section__map--img {
    width: 100%;
    height: 100%;
    position: relative;
}

.section__map--img:before {content: "";position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(33%, rgba(255, 255, 255, 0)), to(#b77f04));background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 33%, #b77f04 100%);background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 33%, #b77f04 100%);}

.section__map--active .section__map--info {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}
.section__map--mark:before {content: "";width: 26px;height: 26px;background-color: #b77f04;border: 5px solid #fff;border-radius: 100%;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}

.section__map--active .section__map--mark:before {
    background-color: #1160ab;
    width: 34px;
    height: 34px;
}

.about__line--item:nth-child(1):before {content: "";width: 114px;height: 106px;position: absolute;top: 0;background: url(../img/line-1.png);left: 100%;background-size: contain;background-repeat: no-repeat;-webkit-transform: translateX(-35%) translateY(-75%);-ms-transform: translateX(-35%) translateY(-75%);transform: translateX(-35%) translateY(-75%);z-index: 12;}
.about__line--item:nth-child(3):before {content: "";position: absolute;top: 0;background: url(../img/line-2.png);left: 100%;background-size: contain;background-repeat: no-repeat;-webkit-transform: translateX(-35%) translateY(-85%);-ms-transform: translateX(-35%) translateY(-85%);transform: translateX(-35%) translateY(-85%);z-index: 12;width: 75px;height: 87px;}
.about__line--item:nth-child(5):before {content: "";position: absolute;top: 0;background: url(../img/line-3.png);left: 100%;background-size: contain;background-repeat: no-repeat;-webkit-transform: translateX(-35%) translateY(-85%);-ms-transform: translateX(-35%) translateY(-85%);transform: translateX(-35%) translateY(-85%);z-index: 12;width: 61px;height: 87px;}
/*------------------------------------*/

.calendar__slider {
    overflow: hidden;
    padding: 40px 20px;
    padding-bottom: 77px;
    margin: 0 -20px;
}
.section__calendar {
    padding: 40px 0;
    position: relative;
    z-index: 1;
    padding-bottom: 60px;
}

.section__calendar:before {content: "";position: absolute;top: 0;left: 0;right: 0;height: 417px;background-color: #0e4f32;z-index: -1;background-image: url(../img/calendar_bg.jpg);background-position: right bottom;background-repeat: repeat-y;background-attachment: fixed;}

.section__map {
    padding-bottom: 200px;
}

.section__calendar .section__title {
    color: #fff;
}

.calendar__item {
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    background-color: #ffffff;
    padding: 20px 29px 29px 29px;
    -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.calendar__item--cat {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #a5a5a5;
    transition: all 0.5s ease;
}
.calendar__item:hover .calendar__item--cat {
    color: #fff;
}
.calendar__item:hover {
    background: #B77F04;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}
.calendar__item:hover .calendar__item--date {
    color: #fff;
}
.calendar__item:hover .calendar__item--title a {
    color: #fff;
}
.calendar__item--date {
    transition: all 0.5s ease;
}

.calendar__item--img {
    border-radius: 30px;
    overflow: hidden;
    height: 170px;
    margin-bottom: 15px;
}

.calendar__item--img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.calendar__item--data {
    color: #959595;
    font-size: 14px;
    font-weight: 300;
}

.calendar__item--title a {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    line-height: 1.2;
    display: block;
}
.swiper-slide-active .calendar__item {
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px);
}
.calendar__arrow--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.calendar__arrow--block > div {
    margin: 0 15px;
}

.swiper-button-disabled svg path {
    fill: #EAEAEA !important;
}
a.calendar__all--linck {
    border-radius: 39px;
    background-color: #b87f04;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.calendar__all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.gid__item--img {
    width: 120px;
    min-width: 120px;
    height: 120px;
    border: 3px solid #0e4f32;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 30px;
}

.gid__item--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.gid__item--img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
}

.gid__item--toptext {
    color: #a5a5a5;
    font-size: 16px;
    font-weight: 300;
}

.gid__item--title a {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.2;
}

.gid__item--lang {
    font-size: 14px;
    font-weight: 400;
}

.gid__item--price {
    color: #0e4f32;
    font-size: 18px;
    font-weight: 700;
}

.gid__item--bottom {
    border-top: 1px solid #c4c4c4;
    margin-top: 15px;
    padding-top: 15px;
}

.gid__bottom--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
}

.gid__bottom--img {
    width: 25px;
    min-width: 25px;
    text-align: center;
    margin-right: 15px;
}

.gid__bottom--img img {
    max-width: 100%;
}

.gid__bottom--text {
    color: #7a7a7a;
    font-size: 16px;
}

.gid__bottom--text a {
    color: #7a7a7a;
    font-size: 16px;
    text-decoration: none;
}
/*------------------------------------*/
.calendar__bottom {
    margin-top: 40px;
}
.section__gid .calendar__all {
    margin-top: 60px;
}
.section__gid {
    margin-bottom: 60px;
}
.section__calendar .section__title--block {
    margin-bottom: 45px;
}

/*------------------------------------*/

footer {
    background-color: #0e4f32;
    padding: 50px 0 75px 0;
    position: relative;
}
.header__burger{
    display: none;
}
footer:before {content: "";position: absolute;right: 0;bottom: 0;width: 100%;left: 0;height: 40px;background: url(../img/footer__bg.svg);background-repeat: repeat-x;}
/*------------------------------------*/

.about__banner--img img {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
}

.about__banner--img {
    position: relative;
    z-index: 1;
}

.about__banner--img:before {content: "";position: absolute;background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0)));background: -o-linear-gradient(top, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0) 100%);background: linear-gradient(180deg, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0) 100%);top: 0;left: 0;right: 0;bottom: 0;}

.section_about--banner {
    position: relative;
}
.about__banner--container {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.about__banner--info {
    text-align: center;
}

.about__banner--data {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
}

.about__banner--title {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}

.about__banner--icon {
    margin-top: 15px;
}

.page__description {
    padding-top: 50px;
    background: url(../img/page_bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
}


.about__page--line {
    margin-top: 50px;
}
.about__page--line .about__line--item:nth-child(1):before,
.about__page--line .about__line--item:nth-child(3):before,
.about__page--line .about__line--item:nth-child(5):before{display: none;}

.about__page--line .about__line {
    background: none;
}


.about__page--line .about__line--item .about__line--absol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    bottom: 0;
    top: auto;
    z-index: 4;
    left: 50%;
    top: 50%;
    width: 104px;
    height: 104px;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.about__page--line .about__line--item .about__line--absol .about__line--numer {
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #cecece;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about__page--line .about__line--item .about__line--absol .about__line--numer:before {
    top: 100%;
    bottom: auto;
    height: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 3px;
}

.about__page--line .about__line--item .about__line--absol .about__line--info {
    padding-top: 0;
    padding-bottom: 25px;
    border-top: 0px;
    border-bottom: 2px solid #c4c4c4;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.about__page--line .about__line--item.about__line--active .about__line--absol .about__line--info {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0) !important;
        -ms-transform: translateX(0) !important;
            transform: translateX(0) !important;
}

.about__page--line .about__line--item.about__line--active .about__line--absol .about__line--numer:before {
    height: 45px;
}
.about__page--line .about__line--item.about__line--next .about__line--absol .about__line--info{
    -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
            transform: translateX(-15px);
}
.about__line--prev .about__line--info {
    -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
            transform: translateX(15px);
}
.about__page--line .about__line {
    padding: 100px 0;
}

.about__line--slider.about__page--line {
    margin-top: 0;
}
/*------------------------------------*/
.tabs__item {
    display: none;
}
.tabs__item--active {
    display: block;
}
.page__description .section__title--block {
    margin-bottom: 20px;
}
.about__text--line .about__line--title {
    font-size: 18px;
    margin-bottom: 10px;
}

.about__text--line .about__line--text {
    font-size: 16px;
}

.about__text--line {
    margin-bottom: 20px;
}
.tabs__item--slider {
    overflow: hidden;
    margin-top: 50px;
    padding-bottom: 50px;
}

.gallery__slider img {
    width: 100%;
    background: #C4C4C4;
    border-radius: 30px;
}

.tabs__item--slider .calendar__arrow--block {
    margin-top: 50px;
}

/*---------------------*/
ul.bread-crambs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.bread-line {
    margin-bottom: 30px;
}

li.breadcrumb-item {
    margin-right: 40px;
}

.bread-crambs a {
    color: #000;
    text-decoration: none;
}

.bread-crambs span {
    color: #0e4f32;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: none;
}






.sights__item {
    overflow: hidden;
    background: #0E4F32;
    border-radius: 30px;
    padding-bottom: 30px;
    position: relative;
    height: 560px;
    margin-bottom: 30px;
}

.sights__item--img {
    height: 350px;
    width: 100%;
}

.sights__item--img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.sights__item--info {
    text-align: center;
    padding: 20px 35px;
}

.sights__item:before {content: "";position: absolute;height: 30px;left: 0;right: 0;bottom: 0;background: url(../img/footer__bg.svg);background-size: cover;background-repeat: repeat-x;}

.sights__item--title a {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sights__item:hover .sights__item--title a {
    color: #b77f04;
}
.sights__list--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
}
.sights__list--text {
    font-size: 14px;
    color: #fff;
}

.sights__list--img {
    margin-right: 5px;
}

.sights__list--item:last-child {
    margin-bottom: 0;
}
.sights__block {
    margin-bottom: 50px;
}
.sights__list--price {
    font-size: 18px;
    color: #fff;
}

.sights__item--title {
    margin-bottom: 10px;
}
/*---------------------------------*/
.sight__banner--bread {
    position: absolute;
    top: 50px;
    z-index: 1;
    width: 100%;
}

.sight__banner--bread a {
    color: #fff;
}

.sight__banner--bread .bread-line {
    margin-bottom: 0;
}

.sight__banner--bread span {
    color: #fff;
}

.banner__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
}

.banner__info .sights__list--item {
    margin-bottom: 0;
    margin-right: 30px;
}

.banner__info .sights__list--item:last-child {
    margin-right: 0;
}


.banner__infoprice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.banner__infoprice--item {
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 18px;
    width: 270px;
    padding: 10px;
    line-height: 1.2;
    margin: 0 10px;
}

.banner__infoprice--center {
    font-weight: 700;
    color: #0e4f32;
}
.mini__desc {
    color: #7b7b7b;
    font-size: 24px;
}

.section__title--desc {
    margin-bottom: 25px;
}
/*------------------------------*/
.page__description--video {
    margin-top: 25px;
}
.page__description--3d {
    margin-top: 50px;
}
.sight__desc {
    margin-bottom: 50px;
}
.section__page__map--block {
    width: 100%;
    height: 500px;
}

.section__page__map--block img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.about__page--line .about__line--item.about__line--active .about__line--absol .about__line--numer {
    -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

.about__page--line .about__line--item .about__line--absol .about__line--numer:after {content: "";width: 109%;height: 109%;position: absolute;border: 5px solid #FFFFFF;border-radius: 100%;opacity: 0;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}

.about__page--line .about__line--item.about__line--active .about__line--absol .about__line--numer:after {
    opacity: 1;
}

.about__page--line .about__line--orange.about__line--active .about__line--numer,
.about__page--line .about__line--orange .about__line--numer:before{
    background-color: #b77f04;
}
.about__page--line .about__line--green1.about__line--active .about__line--numer,
.about__page--line .about__line--green1 .about__line--numer:before{
    background: #0E4F32;
}
.about__page--line .about__line--blue.about__line--active .about__line--numer,
.about__page--line .about__line--blue .about__line--numer:before{
    background: #1160AB;
}
.about__page--line .about__line--red.about__line--active .about__line--numer,
.about__page--line .about__line--red .about__line--numer:before{
    background: #CC4506;
}
.about__page--line .about__line--green2.about__line--active .about__line--numer,
.about__page--line .about__line--green2 .about__line--numer:before{
    background: #0A8232;
}



/*-----------filter-----------------*/
.section__filter {
    margin-bottom: 50px;
    margin-top: 40px;
}
.filter--select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0 !important;
    background-color: #0e4f32;
    background-image: none;
}
  /* Remove IE arrow */
.filter--select select::-ms-expand {
    display: none;
}
  /* Custom Select */
.filter--select {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: 30px;
    background-color: #0e4f32;
}
.filter--select select {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

.page__gallery--item img {
    max-width: 100%;
}

.page__gallery--slider {overflow: hidden;margin-bottom: 30px;}

.page__gallery--img {
    height: 450px;
}

.page__gallery--img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.page__gallery--slider .calendar__arrow--block {
    margin-top: 30px;
}
/*-----------------*/
.page__title-mini {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.route__page--list .sights__list--item {
    margin-bottom: 0;
    margin-right: 40px;
}
.route__page--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
}
.route__page--list .sights__list--text {
    color: #b77f04;
    font-size: 18px;
}
.route__page--price {
    font-size: 24px;
    font-weight: 400;
}
.route__page--price strong {
    font-weight: 700;
    color: #0e4f32;
}
.way__block {
    margin-top: 40px;
}

.way__linck {
    border-radius: 30px;
    background-color: #b87f04;
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #fff !important;
    text-decoration: none !important;
}


/*-----------------------*/
.route__item--btn {
    position: relative;
}

.route__item--btn:before {content: "";position: absolute;left: 100%;width: 13px;height: 13px;background-color: #d4d4d4;top: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);border-radius: 100%;}

.route__line--active .route__item--btn:before {
    display: none;
}
.route__item--btn a {
    border-radius: 30px;
    background-color: #0e4f32;
    font-size: 18px;
    font-weight: 700;
    color: #fff !important;
    padding: 25px 35px;
    display: inline-block;
    width: 290px;
}
.route__line--active .route__item--btn a {
    background-color: #b87f04;
    background-image: url(../img/route__item--active.svg);
}
.route__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: space-between; */
}
.route__item--img {
    text-align: center;
    margin-bottom: 5px;
}
.route__line--li {
    width: 100%;
    text-align: center;
}

.route__item--absol {
    position: relative;
    padding-bottom: 35px;
    overflow: hidden;
}

.route__item--absol:before {content: "";width: 13px;height: 13px;background-color: #0e4f32;position: absolute;border-radius: 100%;bottom: 20px;left: 50%;-webkit-transform: translate(-50%, 50%);-ms-transform: translate(-50%, 50%);transform: translate(-50%, 50%);z-index: 1;}

.route__item--absol:after {content: "";height: 3px;border-radius: 30px;background-color: #b77f04;position: absolute;left: -5px;right: -5px;bottom: 20px;z-index: 0;-webkit-transform: translateY(50%);-ms-transform: translateY(50%);transform: translateY(50%);}
.route__line {
    margin-top: 70px;
}

.route__item--km {
    text-align: center;
    color: #959595;
    font-size: 18px;
}
/*
.route__line--maps img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}*/
.route__desc {
    padding-bottom: 50px;
}

.calendar__block .calendar__item{
    margin-bottom: 30px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}

.pagination ul.pag_list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
}

.pagination {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
}

.pagination li a {
    border-radius: 30px;
    width: 46px;
    height: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    font-weight: 400;
    color: #d2d2d2;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.pagination li a:hover,
.pagination li span {
    border-radius: 30px;
    width: 46px;
    height: 31px;
    background-color: #0e4f32;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}



/*------------------------*/
.calendar__list--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 35px;
}

.calendar__list--item {
    color: #b77f04;
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.calendar__list--item a svg * {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.calendar__list--item a:hover svg * {
    fill: #b77f04;
}
.calendar__list--item strong {
    margin-right: 10px;
}
.page__img--main{
    margin-bottom: 40px;
}

.page__description .section__calendar {
    margin-top: 50px;
}
/*------------------------*/
.filter__slider {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.filter__slider .filter {
    width: 100%;
}

.noUi-horizontal {
    height: 7px;
    border: 0;
    background: #d8d8d8;
}

.noUi-horizontal .noUi-handle {width: 21px;height: 32px;border-radius: 30px;background-color: #b77f04;border: 0;-webkit-box-shadow: none;box-shadow: none;top: -11px;}

.noUi-handle:after, .noUi-handle:before {
    display: none;
}

.noUi-connect {
    background-color: #0a8232;
}

.noUi-tooltip {
    border: 0;
    background: transparent;
    color: #737373;
    font-size: 18px;
    padding: 0;
    bottom: 100% !important;
}
.gid__block .gid__item {
    margin-bottom: 60px;
}


/*------------------------*/

.gid__title--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 60px;
    height: 100%;
}

.gid__title--list .gid__bottom--item {
    margin-right: 40px;
    margin-bottom: 0;
}
.gid__title--block {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 40px !important;
}
.gid__page--item {
    width: 288px;
    height: 288px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
    background-color: #c4c4c4;
    max-width: 100%;
}

.gid__page--item img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    -o-object-position: top;
       object-position: top;
}

/*------------------------*/
.gid__about--title {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.gid__about--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
    color: #b77f04;
    margin-bottom: 20px;
}

.gid__about--item {
    margin-right: 50px;
}


.gid__about-lang--block {
    font-size: 18px;
    margin-bottom: 20px;
}

.gid__aboutlang--title {
    font-weight: bold;
    margin-bottom: 5px;
}

.gid__about-price--block {
    font-size: 24px;
}

.gid__aboutprice--desc {
    color: #0e4f32;
}

.gid__aboutprice--title {
    font-weight: 700;
}

/*------------------------*/
.page__map {
    padding-bottom: 70px;
}

div#inter__map {
    height: 700px;
    background-color: #ffffff;
}

.interactive__map {
    position: relative;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    overflow: hidden;
    margin-top: 30px;
}
.interactive__map:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 40px;
    background: url(../img/footer__bg.svg);
    background-repeat: repeat-x;
    z-index: 1;
}
div#maps {
    height: 100%;
}
.route__line--maps {
    height: 600px;
}
.route__miker--block {
    position: relative;
}

.route__miker--m {
    width: 20px;
    height: 20px;
    background: #0E4F32;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: relative;
}
.route__miker--m img {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    width: 32px;
    height: 32px;
    top: 0;
    -webkit-transform: translateY(-22px) translateX(2px);
        -ms-transform: translateY(-22px) translateX(2px);
            transform: translateY(-22px) translateX(2px);
}
.route__miker--active .route__miker--m {
    background: #B87F04;
}
.route__miker--title {
    position: absolute;
    white-space: nowrap;
    color: #000000;
    font-family: "Euclid Flex";
    font-size: 18px;
    font-weight: bold;
    top: 0%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 20px;
}



.filter--select span.select2-container--default {
    width: 100% !important;
    height: 100%;
    border: 0 !important;
}
.filter--select span.select2-container--default .select2-selection--single {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0;
    background: #0E4F32;
    border: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    width: 24px;
    height: 24px;
    background: url(../img/chevron-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--open span.select2-selection__arrow {
    -webkit-transform: translateY(-50%) rotate(180deg) !important;
        -ms-transform: translateY(-50%) rotate(180deg) !important;
            transform: translateY(-50%) rotate(180deg) !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #0E4F32;
}

.select2-container--open .select2-dropdown--below {
    border: 1px solid #c4c4c4;
    padding: 10px;
    border-radius: 0;
}

.select2-results__option {
    border-radius: 30px;
    padding-left: 20px;
}

.select2-search--dropdown .select2-search__field {
    border-radius: 30px;
    padding-left: 20px;
}


/*------------------------------------*/
.interactive__map--absol {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 40px;
    right: 80px;
}
.interactive__map--controller {
    position: fixed;
    z-index: 1;
    top: 30px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1000;
}
#routemap .interactive__map--controller {
    top: 50%;
    transform: translateY(-50%);
}
.interactive__map--controller .interactive__map--cont {
    margin: 5px 0;
    cursor: pointer;
    z-index: 21;
}
.interactive__map-active div#inter__map {
    height: 100%;
}
/*
.interactive__map-active div#inter__map > ymaps,
.interactive__map-active div#inter__map > ymaps > ymaps {
    height: 100% !important;
    width: 100% !important;
}
*/

.interactive__map--absol--mobile{
    display: none;
}

.section__map--info.section__map--baloon {
    position: relative;
    opacity: 1;
    visibility: visible;
    left: auto;
    -webkit-transform: translateY(-100%) translateX(-50%);
        -ms-transform: translateY(-100%) translateX(-50%);
            transform: translateY(-100%) translateX(-50%);
    margin-top: -20px;
}



.interactive__map--fulscrin {
    position: relative;
    height: 700px;
}
div#interactive__map-main{
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    margin: 0;
    left: 50%;
}

div#interactive__map-main div#inter__map{
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
div#interactive__map-main.interactive__map-active {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    margin: 0;
    left: 50%;
}
.bodymap-active div#interactive__map-main.interactive__map-active {
    z-index: 10000;
}
div#interactive__map-main.interactive__map-active div#inter__map {
    height: 95vh;
    width: 95vw;
}

.bodymap-active span.select2-container.select2-container--default.select2-container--open {
    z-index: 100000;
}



.section__about {
    position: relative;
    margin-bottom: -200px;
    z-index: 0;
    padding-bottom: 200px;
    z-index: 1;
}

.section__about:before {
    content: "";
    height: 200px;
    width: 100%;
    position: absolute;
    background: -webkit-linear-gradient(-90deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0.8) 40%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    bottom: 0;
    z-index: 2;
}
.section__map--home .interactive__map--controller {
    top: 230px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.page__description--video iframe {
    width: 100%;
}

.block__3d iframe {
    width: 100%;
}

.about__text {
    text-align: justify;
}

/* width */
.select2-container *::-webkit-scrollbar {
    width: 5px;
}
/* Track */
.select2-container *::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
.select2-container *::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px
}
/* Handle on hover */
.select2-container *::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.section__map--info .close {
    position: absolute;
    right: 5px;
    top: 0px;
    z-index: 5;
}